@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="jumbotron">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>

        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span>Alexander:</span>
                <span>+375(29)2143675</span>
            </p>
            <p>
                <span>Alexey:</span>
                <span>+375(29)5913821</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span>Alexander:</span>
                <span><a href="mailto:Sanyaalex@gmail.com">Sanyaalex@gmail.com</a></span>
            </p>
            <p>
                <span>Alexey:</span>
                <span><a href="mailto:30alexd.96@gmail.com">30alexd.96@gmail.com</a></span>
            </p>
        </section>
    </div>
</div>