@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>@ViewBag.Title.</h1>
                <p>Hello, guys, it's home page!</p>
            </div>
        </div>
    </section>
}